<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>姓名</string>
			<key>placeholder</key>
			<string>不超过20个字符</string>
			<key>key</key>
			<string>name</string>
			<key>errText</key>
			<string>不超过20个字符</string>
			<key>cellType</key>
			<string>Cell_TF</string>
			<key>maxInputLength</key>
			<integer>20</integer>
			<key>list</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>性别</string>
			<key>placeholder</key>
			<string></string>
			<key>key</key>
			<string>sex</string>
			<key>errText</key>
			<string></string>
			<key>cellType</key>
			<string>Cell_CHECK</string>
			<key>maxInputLength</key>
			<integer>0</integer>
			<key>list</key>
			<array>
				<string>男</string>
				<string>女</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>年龄</string>
			<key>placeholder</key>
			<string>请输入年龄</string>
			<key>key</key>
			<string>age</string>
			<key>errText</key>
			<string></string>
			<key>cellType</key>
			<string>Cell_TF</string>
			<key>maxInputLength</key>
			<integer>0</integer>
			<key>list</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>手机</string>
			<key>placeholder</key>
			<string>请输入手机号</string>
			<key>key</key>
			<string>tellPhone</string>
			<key>errText</key>
			<string></string>
			<key>cellType</key>
			<string>Cell_TF</string>
			<key>maxInputLength</key>
			<integer>11</integer>
			<key>list</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>固话</string>
			<key>placeholder</key>
			<string>请输入固话</string>
			<key>key</key>
			<string>phone</string>
			<key>errText</key>
			<string></string>
			<key>cellType</key>
			<string>Cell_TF</string>
			<key>maxInputLength</key>
			<integer>11</integer>
			<key>list</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>邮箱</string>
			<key>placeholder</key>
			<string>请输入邮箱</string>
			<key>key</key>
			<string>email</string>
			<key>errText</key>
			<string></string>
			<key>cellType</key>
			<string>Cell_TF</string>
			<key>maxInputLength</key>
			<integer>0</integer>
			<key>list</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>角色</string>
			<key>placeholder</key>
			<string>请选择角色</string>
			<key>key</key>
			<string>roles</string>
			<key>errText</key>
			<string></string>
			<key>cellType</key>
			<string>Cell_PICK</string>
			<key>maxInputLength</key>
			<integer>0</integer>
			<key>list</key>
			<array>
				<string>学生</string>
				<string>家长</string>
				<string>教师</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>院系</string>
			<key>placeholder</key>
			<string>请选择院系</string>
			<key>key</key>
			<string>courtyard</string>
			<key>errText</key>
			<string></string>
			<key>cellType</key>
			<string>Cell_PICK</string>
			<key>maxInputLength</key>
			<integer>0</integer>
			<key>list</key>
			<array>
				<string>数学系</string>
				<string>化学系</string>
				<string>物理系</string>
				<string>生物系</string>
				<string>考古文物系</string>
				<string>世界历史系</string>
				<string>中国历史系 </string>
				<string>哲学系</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>咨询类型</string>
			<key>placeholder</key>
			<string>请输入类型</string>
			<key>key</key>
			<string>type</string>
			<key>errText</key>
			<string></string>
			<key>cellType</key>
			<string>Cell_TF</string>
			<key>maxInputLength</key>
			<integer>0</integer>
			<key>list</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>咨询对象</string>
			<key>placeholder</key>
			<string>请选择咨询对象</string>
			<key>key</key>
			<string>consulObject</string>
			<key>errText</key>
			<string></string>
			<key>cellType</key>
			<string>Cell_PICK</string>
			<key>maxInputLength</key>
			<integer>0</integer>
			<key>list</key>
			<array>
				<string>学生</string>
				<string>家长</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>问题类型</string>
			<key>placeholder</key>
			<string>请选择问题类型</string>
			<key>key</key>
			<string>questionType</string>
			<key>errText</key>
			<string></string>
			<key>cellType</key>
			<string>Cell_TWOPICK</string>
			<key>maxInputLength</key>
			<integer>0</integer>
			<key>list</key>
			<array>
				<array>
					<string>情感</string>
					<string>学习</string>
					<string>家庭</string>
					<string>社会</string>
					<string>交际</string>
				</array>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>问题关键字</string>
			<key>placeholder</key>
			<string>请输入问题的关键字</string>
			<key>key</key>
			<string>keyword</string>
			<key>errText</key>
			<string></string>
			<key>cellType</key>
			<string>Cell_TF</string>
			<key>maxInputLength</key>
			<integer>0</integer>
			<key>list</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>录音录像</string>
			<key>placeholder</key>
			<string></string>
			<key>key</key>
			<string>tape</string>
			<key>errText</key>
			<string></string>
			<key>cellType</key>
			<string>Cell_CHECK</string>
			<key>maxInputLength</key>
			<integer>0</integer>
			<key>list</key>
			<array>
				<string>是</string>
				<string>否</string>
			</array>
		</dict>
	</array>
</array>
</plist>
